#{extends 'Mockups/mockup.html'/}


<div class="page-header">
    <h1>Horse Market</h1>
</div>

<div class="row">
    <div class="span12">

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Training Level</th>
                <th>Fitness</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><label>
                    <input type="radio"/>
                </label></td>
                <td>Great Humperdink</td>
                <td>10</td>
                <td>68</td>
                <td>450$</td>
            </tr>
            <tr>
                <td><label>
                    <input type="radio"/>
                </label></td>
                <td>Black Shadow</td>
                <td>62</td>
                <td>45</td>
                <td>860$</td>
            </tr>
            <tr>
                <td><label>
                    <input type="radio"/>
                </label></td>
                <td>Heavy Rider</td>
                <td>24</td>
                <td>48</td>
                <td>260$</td>
            </tr>
            <tr>
                <td><label>
                    <input type="radio"/>
                </label></td>
                <td>Shallow Night</td>
                <td>80</td>
                <td>76</td>
                <td>1830$</td>
            </tr>
            <tr>
                <td><label>
                    <input type="radio"/>
                </label></td>
                <td>Stumbling Cow</td>
                <td>36</td>
                <td>74</td>
                <td>900$</td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-primary" href="@{Mockups.showMockup('dashboard')}">Buy </a>

    </div>
</div>
