#{extends 'Mockups/mockup.html'/}

<div class="page-header">
    <h1>
        Past Race Result
        <small>17-02-2012</small>
    </h1>
</div>

<div class="row">
    <div class="span12">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Place</th>
                <th>Horse</th>
                <th>Player</th>
                <th>Prize Money</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1st</td>
                <td>Jolly Jumper</td>
                <td>Player 1</td>
                <td>300 $</td>
            </tr>
            <tr>
                <td>2nd</td>
                <td>Anakin</td>
                <td>Player 45</td>
                <td>150 $</td>
            </tr>
            <tr>
                <td style="background-color: #c7eefe;">3rd</td>
                <td style="background-color: #c7eefe;">Alladin's Treasure</td>
                <td style="background-color: #c7eefe;">HorseRider445</td>
                <td style="background-color: #c7eefe;">50 $</td>
            </tr>
            <tr>
                <td>4th</td>
                <td>Red Admiral</td>
                <td>Player665</td>
                <td>-</td>
            </tr>
            <tr>
                <td>5th</td>
                <td>Blue Moon</td>
                <td>Player 41</td>
                <td>-</td>
            </tr>
            <tr>
                <td>6th</td>
                <td>Handy Man</td>
                <td>Player 5</td>
                <td>-</td>
            </tr>
            <tr>
                <td>7th</td>
                <td>Dark Hazel</td>
                <td>Player53</td>
                <td>-</td>
            </tr>
            <tr>
                <td>8th</td>
                <td>Magic At Last</td>
                <td>Player97</td>
                <td>-</td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
