#{extends 'main.html'/}

#{set 'page'}dashboard#{/set}

<div class="page-header">
    <h1>
        Welcome, ${player.displayName}
        <small>You have &euro;${player.cash} cash</small>
    </h1>
</div>

<div class="row">
    <div class="span6">
        <h2>My Stable</h2>
        <table class="table table-striped table-bordered">
            <thead>
	            <tr>
	                <th>Box</th>
	                <th>Name</th>
	            </tr>
            </thead>
            <tbody>
	            #{list player.horses, as:'horse'}
					<tr>
						<td>${horse_index}</td>
						<td><a href="#">${horse.name}</a></td>
					</tr>
				#{/list}
            </tbody>
        </table>
        <a data-toggle="modal" href="#buildANewBoxModal" >Build a new box</a>
    </div>
</div>


