#{extends 'main.html'/}

#{set 'page'}dashboard#{/set}
#{set 'title'}Dashboard#{/set}

<div class="page-header">
    <h1 id="welcomeHeader">
        Welcome, ${player.displayName}
        <small>You have &euro;${player.cash} cash</small>
    </h1>
</div>

<div class="row">
    <div class="span6">
        <h2>My Stable</h2>
        <table class="table table-striped table-bordered">
            <thead>
	            <tr>
	                <th>Box</th>
	                <th>Name</th>
	            </tr>
            </thead>
            <tbody>
	            #{list player.boxes, as:'box'}
					<tr>
						<td>${box_index}</td>
						<td>
							#{if box.horse != null}
								<a href="@{HorseDetail.show(box.horse.id)}">${box.horse.name}</a>
							#{/if}
							#{else}
								Empty! <a href="#">Buy a new Horse</a>
							#{/else}
						</td>
					</tr>
				#{/list}
            </tbody>
        </table>
        #{if player.hasEnoughCash(10)}
	        <a data-toggle="modal" href="#buildANewBoxModal" >Build a new box</a>
        #{/if}
    </div>
</div>

<div class="modal hide fade" id="buildANewBoxModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h3>Build a new box?</h3>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to build a new box?<br/>This will cost you $10 to build and $1 maintenance costs per week!</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">No, thanks...</a>
		<a href="@{Dashboard.buildANewBox()}" class="btn btn-primary" >Yes, build me a box!</a>
	</div>
</div>

<div class="row">

    <div class="span6">
        &nbsp;
    </div>

    <div class="span6">
        <h2>
            Upcoming Races
            <small>(<a href="">show all</a>)</small>
        </h2>
        <table class="table table-striped table-bordered" id="upcomingRacesTable">
            <thead>
            <tr>
                <th>Date</th>
                <th>Horse</th>
            </tr>
            </thead>
            <tbody>
            #{list items:upcomingRaces, as: 'race'}
            <tr>
                <td>${race.startTime.format()}</td>
                <td>
                    #{if race.getHorseOfPlayer(player) != null}
                        ${race.getHorseOfPlayer(player)}
                    #{/if}
                    #{else}
                        subscribe!
                    #{/else}
                </td>
            </tr>
            #{/list}
            </tbody>
        </table>
    </div>
</div>


