#{extends 'main.html' /}
#{set title:'Dashboard' /}

<div class="row">
	<div class="span6">
<div class="page-header">
	<h2>Races</h2>
</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Horse</th>
					<th>Result</th>
					<th>Price money won</th>
				</tr>
			</thead>
			<tbody>
				#{list player.getPastEnteredRaces()}
				<tr>
					<td>${_.startTime.format()}</td>
					<td>${_.getHorseOfPlayer(player).name}</td>
					<td>TODO</td>
					<td>TODO</td>
				</tr>
				#{/list}
			</tbody>
		</table>
	</div>	
</div>
