#{set 'moreScripts'}
    #{script 'html5slider.js'/}
#{/set}

#{extends 'main.html'/}

<div class="page-header">
    <h1>
        ${horse.name}
    </h1>
</div>

<div class="row">

    <div class="span6">
        <h2>Stats</h2>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>Overall Fitness</td>
                <td id="fitness">${horse.fitness} / 100</td>
            </tr>
            <tr>
                <td>Training Level</td>
                <td id="training">${horse.training} / 100</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="span6">
        <h2>&nbsp;</h2>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>Food</td>
                <td id="food">#{select 'foods', id:'foods', items:foods, valueProperty:'name()', labelProperty:'label', value:horse.food.name() /}</td>
            </tr>
            <tr>
                <td>Trainer</td>
                <td>
                    <input id="moneyForTrainerId" type="range" value="${horse.moneyForTrainer}" max="100" min="0" step="1"  />
                    <span id="rangeValue">${horse.moneyForTrainer}$ per week</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="span8">
        <h2>Races</h2>
        <table class="table table-bordered">
            #{list horse.enteredRaces}
                <tr>
                    <td>${_.startTime.format("dd-mm-yyyy hh:mm")}</td>
                    <td>${_.name}</td>
                    <td>#{if _.hasWon(horse)}winner#{/if}</td>

                </tr>
            #{/list}
        </table>
    </div>

</div>

<script>
$(function() {
	$('#foods').change(function() {
        var action = #{jsAction @changeFood(":id", ":food") /}
        var selectedValue = $(this).val();
        $.post(action({id: ${horse.id}, food: selectedValue}))
                .success(Horses.Messages.showSuccess)
                .error(Horses.Messages.showError);
	});

    function updateMoneyForTrainer() {
        $.post('@{HorseDetail.changeMoneyForTrainer}', { moneyForTrainer: $(this).val(), horseId: ${horse.id} });
    }
    $('#moneyForTrainerId').focusout(updateMoneyForTrainer);
    $('#moneyForTrainerId').mouseout(updateMoneyForTrainer);

    $('#moneyForTrainerId').change(function() {
        $('#rangeValue').html("$" + $(this).val() + " per week");
    });
});
</script>