#{extends 'main.html' /} 
#{set title:'Home' /}
			<div class="hero-unit">
				<h1>Hold your Horses</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec lacus sed felis commodo tincidunt. Donec pretium enim interdum lorem
				malesuada a ornare orci rhoncus. Nullam aliquam porttitor mi, a convallis eros cursus iaculis. Cras eu urna eu augue malesuada pharetra. Duis
				a vehicula tortor. Duis adipiscing vestibulum sem ut hendrerit.</p>
				<p><a href="@{securesocial.UsernamePasswordController.signUp}" class="btn btn-primary btn-large">Sign up now &raquo;</a></p>
			</div>
			
			<div class="row">
				<div class="span4">
					<h2>Buy horses</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec lacus sed felis commodo tincidunt. Donec pretium enim interdum lorem
					malesuada a ornare orci rhoncus. Nullam aliquam porttitor mi, a convallis eros cursus iaculis. Cras eu urna eu augue malesuada pharetra. Duis
					a vehicula tortor. Duis adipiscing vestibulum sem ut hendrerit.</p>
				</div>
				<div class="span4">
					<h2>Enter races</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec lacus sed felis commodo tincidunt. Donec pretium enim interdum lorem
					malesuada a ornare orci rhoncus. Nullam aliquam porttitor mi, a convallis eros cursus iaculis. Cras eu urna eu augue malesuada pharetra. Duis
					a vehicula tortor. Duis adipiscing vestibulum sem ut hendrerit.</p>
				</div>
				<div class="span4">
					<h2>Manage jockeys</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec lacus sed felis commodo tincidunt. Donec pretium enim interdum lorem
					malesuada a ornare orci rhoncus. Nullam aliquam porttitor mi, a convallis eros cursus iaculis. Cras eu urna eu augue malesuada pharetra. Duis
					a vehicula tortor. Duis adipiscing vestibulum sem ut hendrerit.</p>
				</div>
			</div>
