<!doctype html>

<html>

<head>
	<title>#{get 'title' /}</title>
	<meta charset="${_response_encoding}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
	<!--[if lte IE 9]>
	<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/ie.css'}"/>
	<![endif]-->
	<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/1140.css'}" />
	<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/stickyfooter.css'}"/>
	<link rel="stylesheet/less" type="text/css" media="screen" href="@{'/public/stylesheets/main.less'}">
	#{get 'moreStyles' /}

	<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/javascripts/jquery-1.6.4.min.js'}"></script>
	<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/javascripts/less-1.2.1.min.js'}"></script>
	<script type="text/javascript" charset="${_response_encoding}" src="@{'/public/javascripts/css3-mediaqueries.js'}"></script>
	#{get 'moreScripts' /}
</head>
<body>
	<div class="wrapper">
		<div class="header container">
			<div class="row">
				<div id="header" class="twelvecol last">
					<a href="@{Application.index()}"><img src="@{'/public/images/logo.gif'}" alt="" class="logo"/></a>
				</div>

			</div>
		</div>
		<div class="content container">
			#{doLayout /}
		</div>
		<div class="push"></div>
	</div>


		<div class="footer container">
			<div class="row">
				<div class="twelvecol last">
					Put the footer here
				</div>
			</div>
		</div>

</body>

</html>
